/* Modified version of Android Nougat boot animation */

.circles {
    height: 30rem;
    width: 30rem;
    position: relative;
    display: flex;
    top: 14rem;
    left: 15rem;
    transform: translate3D(-50%, -50%, 0);
}

.circle-icon {
    width: 21rem;
    height: 21rem;
    object-fit: cover;
    margin: auto
}

.circle {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1rem solid transparent;
    border-radius: 100%;
    /* mix-blend-mode: screen; */
    opacity: 0.8;
    border-color: #FFF;
    z-index: 100;
    transform-origin: 50% 50%;

}

@media only screen and (max-width: 960px) {
    .circles {
        height: 24rem;
        width: 24rem;
        top: 11rem;
        left: 12rem;
    }

    .circle-icon {
        width: 18rem;
        height: 18rem;
    }
}

@media only screen and (max-width: 600px) {
    .circles {
        height: 20rem;
        width: 20rem;
        top: 9rem;
        left: 10rem;
    }

    .circle-icon {
        width: 16rem;
        height: 16rem;
    }

}