/* Modified version of Android Nougat boot animation */

.circles {
    height: 30rem;
    width: 30rem;
    position: relative;
    display: flex;
    top: 14rem;
    left: 15rem;
    transform: translate3D(-50%, -50%, 0);
}

.circle-icon {
    width: 21rem;
    height: 21rem;
    object-fit: cover;
    margin: auto
}

.circle {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1rem solid transparent;
    border-radius: 115% 140% 145% 110%/125% 140% 110% 125%;
    mix-blend-mode: screen;
    opacity: 80%;
}

.circle:nth-child(1) {
    border-color: #FFF;
    /* border-color: #00FFFF; */
    transform-origin: 50% 50%;
    animation: spin1 5.5s linear infinite;
}

.circle:nth-child(2) {
    border-color: #FFF;
    /* border-color: #00FFFF; */
    transform-origin: 50% 50%;
    animation: spin2 5.5s linear infinite;
}

.circle:nth-child(3) {
    border-color: #FFF;
    /* border-color: #FF00FF; */
    transform-origin: 50% 50%;
    animation: spin3 5.5s linear infinite;
}

.circle:nth-child(4) {
    border-color: #FFF;
    /* border-color: #FF00FF; */
    transform-origin: 50% 50%;
    animation: spin4 5.5s linear infinite;
}

@media only screen and (max-width: 960px) {
    .circles {
        height: 24rem;
        width: 24rem;
        top: 11rem;
        left: 12rem;
    }

    .circle-icon {
        width: 18rem;
        height: 18rem;
    }

    .circle {
        border: 10px solid transparent;
    }
}

@media only screen and (max-width: 600px) {
    .circles {
        height: 20rem;
        width: 20rem;
        top: 9rem;
        left: 10rem;
    }

    .circle-icon {
        width: 16rem;
        height: 16rem;
    }

    .circle {
        border: 10px solid transparent;
    }
}

@keyframes spin1 {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin2 {
    0% {
        transform: rotate(72deg);
    }

    100% {
        transform: rotate(-288deg);
    }
}

@keyframes spin3 {
    0% {
        transform: rotate(-144deg);
    }

    100% {
        transform: rotate(216deg);
    }
}

@keyframes spin4 {
    0% {
        transform: rotate(216deg);
    }

    100% {
        transform: rotate(-144deg);
    }
}