#background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-image: url('../assets/starrynight.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

.App {
  display: grid;
}

.swipeable-content {
  z-index: 1;
}

.swipeable-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.center-column {
  width: 95%;
}

.column-half {
  width: 50%;
}

@media only screen and (min-width: 1240px) {
  .center-column {
    width: 1170px;
  } 
}