.App {
  display: grid;
}

.content {
  z-index: 1;
}

#background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-image: url('../assets/starrynight.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}