@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;700&display=swap');

.lucas-page {
    width: 100%;
    padding: 0
}

.big-text {
    height: 97vh;
    width: 95%;
}

.big-text h3 {
    position: relative;
    top: 12vh;
    font-size: 15vw;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    text-align: center;
    color: white;
}

#introductions {
    width: 95%;
}

.homepage-card {
    margin: 2%;
}

.lucas-page .MuiButtonBase-root {
    margin: 2%;
}

@media only screen and (min-width: 1240px) {

    .big-text {
        width: 1170px;
    }

    .big-text h3 {
        position: static;
        font-size: 15vh;
    }

    #introductions {
        width: 1170px;
        display: flex;
        flex-direction: row;
    }

    .homepage-half {
        width: 50%
    }
}