.Page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1%;
}

.Filter {
    width: 1170px;
}

@media only screen and (max-width: 1240px) {
    .Page {
        padding-top: 3%;
    }
    .Filter {
        width: 95%;
    }
}