#portrait {
    border-radius: 0.25rem;
}

.lucas-content img {
    width: 100%;
    object-fit: cover;
}

@media only screen and (min-width: 1240px) {
    #about .homepage-section-body {
        display: flex;
    }
    
    #about .homepage-section-body .lucas-content {
        margin-bottom: 0;
    }
    
    .homepage-about {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
}