@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;700&display=swap');

.homepage-home {
    height: 88vh;
    display: flex;
    justify-content: center;
}

.homepage-big-text {
    position: relative;
    top: 12vh;
    font-size: 14vw;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    text-align: center;
    color: white;
}

#homepage-logo-horz {
    display: none;
}

#homepage-logo-vert {
    object-fit: contain;
    position: relative;
    width: 60%;
    height: auto;
}

/* .homepage-content {
    margin: 2%;
}

.homepage-section-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 12vw;
    text-align: center;
    color: white;
}

.homepage-subtitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: xx-large;
    text-align: center;
    color: white;
}

.homepage-divider {
    color: white;
    width: 95%;
    margin-top: 32px;
    margin-bottom: 32px;
}

.homepage-section {
    width: 95%;
} */

@media only screen and (min-width: 1240px) {

    #homepage-logo-horz {
        display: block;
        object-fit: contain;
        position: relative;
        bottom: 10vh;
    }

    #homepage-logo-vert {
        display: none;
    }

    .homepage-half {
        width: 50%;
        position: relative;
    }

    .homepage-divider {
        width: 1170px
    }

    .homepage-section-title {
        font-size: 10vh;
    }

    .homepage-section {
        width: 1170px;
    }

    .homepage-section-body {
        display: flex;
        flex-direction: row;
    }
}